# dependencies
node_modules/

# build outputs
dist/
coverage/
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# editor/system
.DS_Store
.vscode/
.idea/
